@using Web.Models.Reservations
@model Web.Models.Reservations.ReservationsAdminIndexViewModel

@{
    ViewData["Title"] = "Index-Admin";
}

<h1>Index</h1>

<h4>Flights</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Reservation id
            </th>
            <th>
                Plane number
            </th>
            <th>
                User id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservationsAdminViewModel item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
            </tr>
        }
    </tbody>
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</table>